# See https://help.github.com/articles/ignoring-files/

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
.next/
out/
build/

# Production
/dist/

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Firebase
firebase-debug.log

# Logs
*.log
*.log.*

# IDE settings
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

